# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Logic Workbench'
      'command': 'lwb-ui:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Logic Workbench'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'lwb-ui:toggle'
        },
        {
        'label': 'Propositonal Logic'
        'command': 'lwb-ui:propositonal-logic'
        },
        {
        'label': 'Predicate Logic'
        'command': 'lwb-ui:predicate-logic'
        },
        {
        'label': 'Linear Temporal Logic'
        'command': 'lwb-ui:linear-temporal-logic'
        },
        {
        'label': 'Natural Deduction'
        'command': 'lwb-ui:natural-deduction'
        }
      ]
    ]
  }
]
